ul{
    width: 0em;
    height: 5em;
    background: cornflowerblue;
    list-style-type: none;

}
li{
    font-size: 1.5em;
    top: 4.2em;
}
video{
    display: block;
    align-items: center ;
    position: relative;
}
.primer_clip{
    top: 2.2em;
    left: 3em;
}
.sundo_clip{
    top: 2.2em;
    left: 50em;
}
.tercer_clip{
    top: 34em;
    left: 3em; 
}

.cuarto_clip{
    top: 34em;
    left: 50em;
}
#reproducto{
    width: 37em;
    left: 2.1em;
    top: 2em;
}
#reproducto2{
    width: 28em;
    left: 7em;
    top: 2em;
}
#reproducto3{
    width: 37em;
    left: 2.1em;
    top: 2em;
}
#reproducto4{
    width: 37em;
    left: 2.1em;
    top: 2em;
}

#subtitulo1,#subtitulo2,#subtitulo3,#subtitulo4{
    position: relative;
    left: 2.1em;
    top: 0.8em;
    display: block;
}

.listas, h1{
    font-family: 'Lobster', cursive;
    
}
#lista1{
    position: absolute;
    left: 16%;
    
}
#lista2{
    position: absolute;
    left: 50%;
    
}
#lista3{
    position: absolute;
    left: 75%;
}

#font{
   text-align: center;
   line-height: .5em;
   font-size: 2.4em;
}
#hr{
   opacity: 0;
}
#parrafo1, #parrafo2,#parrafo3,#parrafo4{
    width: 96%;
    margin: auto;
    text-align:justify;
    font-size:1.1em;
    line-height: 1.6;
    font-family: 'Amiri Quran', serif;
}

.primer_clip,.sundo_clip,.tercer_clip,.cuarto_clip{
    width: 41em;;
    height: 27em;
    background: none;
    display: block;
    position:absolute;
    outline: 2px solid black; 
    
}

#body1{
    margin-bottom: 1000px;
}
#body2{
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
}
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    color: rgb(0, 255, 0);
}

.div1, .div2,.div3,.div4,.div5,.div6,.div7,.div8{  
    background: .5em;
    display: block;
    outline: none; 
    padding-top: none;
}
.h55{
    display: block;
}

h4{
    width: 96%;
    margin: auto;
    text-align:justify;
    font-size:2em;
    line-height: 2.5;
    font-family: 'Amiri Quran', serif;
}
.col1{
    align-items: center;
}
.col2{
    background:brown;
}
#tr2{
    background-color:cornflowerblue;
}
table{
    width: 100%;
}
